@import 'color.scss';
body {
    font-size: 0.9em;
    background: linear-gradient(0deg, $main-background, #666672);
    color:$main-color;
    justify-content: center;
    display: flex;
    min-height: 100vh;
    padding: 50px;
    margin:0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    &::-webkit-scrollbar {
        height: 12px;
        width: 12px;
        background-color: $wrp-background;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $main-background;
        border: 3px solid $wrp-background;
    }
}
#__nuxt{
    min-height: 100%;
    min-width: 100%;
    display: flex;
}
#__layout{
    min-height: 100%;
    min-width: 100%;
    display: flex;
}

*{
    box-sizing: border-box;
}
